@page {
  size: A4 portrait;
}

.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
  width: 210mm;
  height: 296mm;
}

.calendar-month {
  table-layout: fixed;
}

.calendar-month__day {
  aspect-ratio: 1/1;
}

.image-preview {
  height: 200px;
}

.image-fill-cover {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media screen {
  .sheet {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    margin: 5mm auto;
    padding: 10mm;
  }

  .calendar-preview {
    background: var(--bs-gray-200);
  }
}
